/** this applies from 0px to 600px */
body {
    padding-top: 62px;
    overflow: scroll;
    padding-bottom: 80px;
}

h3 {
    margin: 0;
}

.container {
    padding: 10px 0;
}

.center {
    text-align: center;
}
/** desktop nav **/
.desktop-nav {
    display: none;
}

.navbar .nav {
    display: table;
    width: 100%;
}

.navbar .nav li {
    display: table-cell;
    width: 25%;
    float: none;
}

.navbar-nav>li>a.active {
    text-decoration: underline;
    color: darkred;
}

.navbar.navbar-fixed-top {
    padding: 4px 10px;
    border-bottom: 2px solid black;
    background-color: white;
}

.navbar.navbar-fixed-bottom {
    border-top: 2px solid black;
}

.nav.navbar-nav li{
    margin: 0;
    display: inline-block;
    text-align: center;
}

.cover {
    width: 100%;
    height: 300px;
    background-image: url("travel.jpg");
    text-align: center;
}

.btn-started {
    margin-top: 30%;
}

.btn {
    background-color: white;
    border: 2px solid black;
    padding: 5px 30px;
    opacity: 0.8;
    font-size: 2em;
}

.btn2 {
    background-color: white;
    border: 2px solid black;
    padding: 10px 30px;
    margin: 10px 0;
    opacity: 0.8;
    font-size: 1em;
    width: 250px;

}

.border {
    border: 2px solid black;
    border-radius: 250%;
    height: 100px;
    column-gap: 4px;
}
.contact-us{
    padding: 20px 0;
}



@media only screen and (min-width: 600px) {
    .navbar.navbar-fixed-top {
        padding: 4px 20px;
        border-bottom: 2px solid black;
        background-color: white;
    }
    .btn-started {
        margin-top: 10%;
        padding: 5px 50px;
    }
    .desktop-nav {
        display: inline-block;
        width: 100%;
    }
    .mobile-nav {
        display: none;
    }
    .navbar .nav li {
        width: 16.6%;
    }
    .btn2{
        width: 100%;
        margin: 0;
        height: 200px;
        border-radius: 50%;
        border: 2px solid black;
        background-color: white;
    }

}